section.title {
    height: auto;
    width: auto;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 2.5rem;
    color: #bc8ae1;
}

section.about
{
    z-index: 1;
    position: absolute;
    top: 7%;
    height: auto;
    width: 100%;
}

section.about p
{
    font-size: 1.5rem;
    color: #bc8ae1;
    white-space: normal;
}

.title .first
{
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    font-weight: 500;
    margin-bottom: 0.5rem;
}


